<div id="vita"><nav id="navigation" class="navbar navbar-default">
    <ul class="nav navbar-nav">
        {{#each links}}
        <li>
        <a href='#{{link}}'>{{name}}</a>
        </li>
        {{/each}}
    </ul>
</nav>
<section>
    <div class=row>
        <div class='col-xs-8 text-center'>
            <h1 id='person-name'class='text-capitalize'>{{name}}</h1>
             <ul class='list-inline'>
                 <li>040 71141350
                 </li>
                 <li>fischerig@outlook.com</li>
             </ul>
             <ul class="list-inline">
                 <li>Kirschenweg 38G
                 </li>
                 <li>21465 Reinbek
                 </li>
             </ul>
            <ul class="list-inline">
                <li>
                <a href="http://ifisher.pythonanywhere.com">http://ifisher.pythonanywhere.com</a>
                </li>
                <li>
                <a href="https://github.com/omelhoro">https://github.com/omelhoro</a>
                </li>
            </ul>
        </div>
        <div class='col-xs-4 text-center'><img id='my_pic' src="images/kopie.jpg" alt="">
        </div>
    </div>
</section>
<section id="profile">
    <h3>{{profile.name}}</h3>
    <div class="row">
        {{#each profile.data}}
        <div class="col-xs-4">
            <h4>{{title}}</h4>
            {{text}}
        </div>
        {{/each}}
    </div>
</section>

    <section id='personals'>
    <h3>{{personals.name}}</h3>
    <table class='table borderless'>
        {{#each personals.data}}
        <tr>
            <td>{{cat}}</td>
            <td style="vertical-align: bottom">{{item}}</td>
        </tr>
        {{/each}}
    </table>
</section>


<section id='education'>
    <h3>{{education.name}}</h3> {{#each education.data}}
        <h4>{{ed_name}}
            <span class="time">{{timerange}}</span>
        </h4>
    <ul>
        {{#each add_info}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/each}}
</section>

<section id='working'>
    <h3 class="section">{{working.name}}</h3> {{#each working.data}}
    <h4>{{name}} <small>{{job}}
            <span class="place">{{location}}</span>
            </small>
            <span class="time">{{timerange}} </span>
        </h4>

    <h5>{{subtitle}}</h5>
    <ul>
        {{#each add_info}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/each}}

    <h4>Zusammenfassung</h4>
    <div id='work-line'><img src="images/work_line.png" alt="" />
    </div>

</section>

    <section id="projects">
    <h3>{{projects.name}}</h3>
        <ul>
            {{#each projects.data}}
                <li>
                    <a href="{{link}}">{{desc}}</a>
                    <small>{{techs}}</small>
                </li>

            {{/each}}

        </ul>

    </section>

<section id='technology'>
    <h3>{{technology.name}}</h3>
    <table class='table'>
        {{#each technology.data}}
        <tr>
            <td class='category'>{{category}}</td>
            <td>
                <ul class="item-horizontal">
                    {{#each items}}
                    <li>{{{this}}}</li>
                    {{/each}}
                </ul>

                {{#if subcats}}
                <table class="table borderless subtab">
                    {{#each subcats}}
                    <tr>
                        <td>{{category}}</td>
                        <td>
                            <ul class="item-horizontal subcat">
                                {{#each items}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        </td>
                    </tr>
                    {{/each}}
                </table>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </table>
</section>

<section id='language'>
    <h3>{{language.name}}</h3>
    <table class='table borderless'>
        {{#each language.data}}
        <tr>
            <td>{{name}}</td>
            <td style="vertical-align: bottom">{{level}}</td>
        </tr>
        {{/each}}
    </table>
</section>

<section id='misc'>
    <h3>{{misc.name}}</h3>
    <ul>
        {{#each misc.data}}
        <li>
            {{topic}}
            <span class="place">{{location}}</span>
            <small><span class="time">{{timerange}}</span></small>
        </li>
        {{/each}}
    </ul>
</section>

<section id='hobby'>
    <h3>{{ hobby.name }}</h3>
                            <ul class="item-horizontal">
                                {{#each hobby.data}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
</section>
</div>